<div class="jumbotron">
  <h2>SageOne Brasil Remote Web Application Use Case</h2>

  <h4>The following exercise is a real use case where you should understand the problem and build a complete solution.</h4>

  <br>

  <p>Guidance</p>
  <ul>
    <li>You can choose any language you like. Also, you are free to use any existing libraries/frameworks that you might find helpful.</li>
    <li>Your solution must be a fully web-based application including a database solution.</li>
    <li>You can fork this GitHub repository and answer back as a Pull Request for your (our) convenience.</li>
  </ul>
</div>
